@import url('https://fonts.googleapis.com/css?family=Merienda|Montserrat');

body{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  position: relative;
  background-image: url("../images/houses.png");
  background-color: #fff5c3;
}

.color{
  background-color: #129793;
  background-color: #505050;
  background-color: #fff5c3;
  background-color: #9bd7d5;
  background-color: #ff7260;
  background-color: #734512;

}

.fonts{
  font-family: 'Merienda', cursive;
  font-family: 'Montserrat', sans-serif;
}

h1 {
    display: block;
    font-family: 'Merienda', cursive;
    color: #734512;
    font-size: 2rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.5;
}

h2 {
  display: block;
  font-family: Lato,Helvetica,sans-serif;
  color: #734512;
  font-size: 1.375rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  line-height: 1.5;
}

h3, h4, h5, h6{
  color: #734512;
}

p{
  font-family: 'Montserrat', sans-serif;
  color: #734512;
}

nav{
  overflow: hidden;
  background-color: #129793;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav a{
  overflow: hidden;
  float: right;
  display: block;
  color: #fff5c3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
}

nav a:hover{
  background-color: #9bd7d5;
  color: black;
}

header .navbar-brand {
  background: url(../images/navbrand.svg);
  background-repeat: no-repeat;
  width: 150px;
  height: 30px;
  float: left;
  margin-left: 15px;
}

@media only screen and (max-width: 600px) {
header .bar {
    font-size: 1px;
    visibility: hidden;
  }
}

#menu{
  float: right;
  padding-right: 20px;
  color: #fff5c3;
}

@media only screen and (min-width: 600px) {
  header #menu {
    visibility: hidden;
  }
}
.cover{
  position: relative;
}
/*
.cta{
  position: absolute;
  background: url(../images/tiny-house-cta.png);
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.cta h1{
  color: #fff5c3;
  text-shadow: 3px 3px 4px #000000;
}

@media only screen and (max-width: 400px) {
.cta h1 {
    visibility: hidden;
  }
}
*/
.banner{
  width: 100%;
}

.post{
  background-color: #fff5c3;
}

.footer{
  background-color: #505050;
  height: 150px;
}

footer p{
  color: #fff5c3;
}

footer a{
  color: #fff5c3;
}

#sticky{
  width:100%;
  position:fixed;    /*Here's what sticks it*/
  bottom:0;          /*to the bottom of the window*/
  left:0;
}

/**Sidebar**/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #129793;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
    z-index: 4;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff5c3;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -10px;
    right: 25px;
    font-size: 36px;
    margin-left: 100px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.center{
  text-align: center;
}

/**Cards**/

.card {
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
transition: 0.3s;
width: 40%;
border-radius: 5px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
}

img {
  border-radius: 5px 5px 0 0;
}

.contain {
  padding: 2px 16px;
}

/*! Lazy Load XT v1.1.0 2016-01-12
 * http://ressio.github.io/lazy-load-xt
 * (C) 2016 RESS.io
 * Licensed under MIT*/
.lazy-hidden {
    opacity: 0;
}
.lazy-loaded {
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    opacity: 1;
}

/*! Lazy Load XT v1.1.0 2016-01-12
 * http://ressio.github.io/lazy-load-xt
 * (C) 2016 RESS.io
 * Licensed under MIT
.lazy-hidden {
    background: #eee url('../images/loading.gif') no-repeat 50% 50%;
}*/
